*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.svg-a {
	transition: 0.2s ease-in-out;
}

.svg-a:hover {
	transform: scale(1.2) rotate(360deg);
}

.c1 {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.password {
	cursor: text;
}

.btn {
	transition: 0.2s ease-in-out;
}

.footer {
	bottom: 0;
	right: 0;
}
